<div class="container">
    <h2>Employee Details</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Mobile Number</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.name}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.password}}</td>
          <td>{{employee.phoneNumber}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
  